<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="#">Private Events</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
         <%= link_to 'Dashboard', events_path, class:'btn btn-success' %>
        </li>
      </ul>
    
    </div>
      <div class="d-flex float-end">
        <% if user_signed_in? %>
        <%= link_to 'Log Out', destroy_user_session_path, method: :delete, data: { confirm: 'Are You Sure?' }, class:'btn pink' %>
        <%= link_to current_user.name, users_path, class:'btn pink' %>
        <% else %>
        <%= link_to 'Log In', new_user_session_path, class:'btn pink mx-3' %>
        <%= link_to 'Sign In', new_user_registration_path, class:'btn pink' %>
        <% end %>
      </div>
  </div>
</nav>